@font-face {
    font-family: 'Ohsquare';
    src: url('font/Cafe24Ohsquare-v2.0.woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'BMHanna';
    src: url('font/BMHANNAAir_otf.otf');
    font-weight: normal;
}